//google fonts

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    outline: none;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h2 {
    font-size: 2rem;

    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
}

/*cursor effect*/
.circle-cursor {
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    pointer-events: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}
.circle-cursor-outer {
	margin-left: -0.9375rem;
	margin-top: -0.9375rem;
	width: 1.875rem;
	height: 1.875rem;
	border: 0.0625rem solid red;
	box-sizing: border-box;
	z-index: 10000000;
	transition: all .08s ease-out;
	-webkit-transition: all .08s ease-out;
	-moz-transition: all .08s ease-out;
	-ms-transition: all .08s ease-out;
	-o-transition: all .08s ease-out;
}

.circle-cursor-outer.cursor-link-hover {
	margin-left: -1.5625rem;
	margin-top: -1.5625rem;
	width: 3.125rem;
	height: 3.125rem;
	border: 0.0625rem solid red;
	box-sizing: border-box;
	z-index: 10000000;
	transition: all .08s ease-out;
}
.circle-cursor-inner {
    margin-left: -0.125rem;
	margin-top: -0.125rem;
	width: 0.25rem;
	height: 0.25rem;
	z-index: 10000001;
	background-color: red;
}

.circle-cursor-inner.cursor-link-hover {
	margin-left: -0.1875rem;
	margin-top: -0.1875rem;
	width: 0.375rem;
	height: 0.375rem;
	background-color: red;
}

.header-widget {
    position: relative;

    .logo-section {
        position: absolute;
        top: 15%;
        z-index: 99;

        .logo {
            margin-left: 100px;

            img {
                height: 35px;
                
            }
        }

        .all-work-btn {
            text-align: center;
            display: block;
            color: #fff;
            font-size: 1rem;
            text-transform: uppercase;
            transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;

            i {
                margin-right: 2px;
                color: #fff;
            }

            &:hover {
                color: #acabab;
            }
        }
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
    }

    .banner-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        z-index: 1;

        .heading {

            h5 {
                font-size: 36px;
                font-weight: 600;
                text-transform: capitalize;
                line-height: 72px;
                opacity: 0;
                transform: translateY(80px);
                -webkit-transform: translateY(80px);
                -moz-transform: translateY(80px);
                -ms-transform: translateY(80px);
                -o-transform: translateY(80px);
            }
        }
        .title {

            h1 {
                font-size: 70px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 100px;
                opacity: 0;
                transform: translateY(80px);
                -webkit-transform: translateY(80px);
                -moz-transform: translateY(80px);
                -ms-transform: translateY(80px);
                -o-transform: translateY(80px);
                
            }
        }

        .banner-btn {
            
            .btn-line {
                font-weight: 600;
                color: #fff;
                padding: 0.3125rem 0.3125rem 0.25rem 1.875rem;
                text-transform: uppercase;
                position: relative;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -ms-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                opacity: 0;
                transform: translateY(50px);
                -webkit-transform: translateY(50px);
                -moz-transform: translateY(50px);
                -ms-transform: translateY(50px);
                -o-transform: translateY(50px);
                cursor: pointer;
                z-index: 1000;

                &::before {
                    content: "";
                    position: absolute;
                    height: 0.125rem;
                    width: 1.25rem;
                    background: #fff;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -ms-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                    cursor: pointer;
                }
            }

            &:hover {

                .btn-line {
                    letter-spacing: 2px;
                    color: #d1d1d1;

                    &::before {
                        background: #d1d1d1;
                    }
                } 
            }
        }
    }

    .main-sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 130px;
        height: 100%;
        z-index: 100001;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;

        .sidebar-content {
            border-left: 0.0625rem solid #d1d1d1;
            padding: 3.75rem 0 5.625rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
            position: relative;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;

            .toggle-btn {
                position: relative;

                .btn-wrap {
                    width: 2.5rem;
                    padding: 0;
                    background: transparent;
                    border: none;

                    &:focus {
                        outline: none;
                    }

                    span {
                        display: block;
                        height: 0.125rem;
                        width: 1.75rem;
                        background: #d8d8d8;
                        margin-bottom: 0.3125rem;
                        transition: all .5s ease-in-out;
                        -webkit-transition: all .5s ease-in-out;
                        -moz-transition: all .5s ease-in-out;
                        -ms-transition: all .5s ease-in-out;
                        -o-transition: all .5s ease-in-out;

                        &:nth-child(1n) {
                            margin-left: 0.25rem;
                        }
                        &:nth-child(2n) {
                            margin-left: 0;
                        }
                        &:nth-child(3n) {
                            margin-left: 0.6875rem;
                        }
                        &:nth-child(4n) {
                            margin-left: 0.25rem;
                        }
                    }
                }

                &:hover {

                    .btn-wrap {

                        span {

                            &:nth-child(1n) {
                                margin-left: 0;
                            }
                            &:nth-child(2n) {
                                margin-left: 0;
                            }
                            &:nth-child(3n) {
                                margin-left: 0;
                            }
                            &:nth-child(4n) {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }

            .section-name {
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                min-width: 12.5rem;
                text-align: center;
                margin-left: -7px;
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transition: all .5s ease-in-out;
                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                -ms-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;
            }
        }

        &:hover {

            .sidebar-content {
                background: #f9f9f9;
                border-left-color: #7c7c7c;
            }

            .section-name {
                color: #7c7c7c;
                border-right: 1px solid #7c7c7c;
            }
        }
    }

    // off canvas menu css

    .offcanvas-menu-wrap {
        width: 100%;
        height: 0;
        position: fixed;
        top: 0;
        left: 50%;
        background: #111;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;


        .offcanvas-content {
            height: 100%;
            overflow-y: auto;
            position: relative;
            padding: 1.25rem 3.125rem;
            transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -ms-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                opacity: .5;
                width: 100%;
                height: 100%;
                background: #000;
            }

            .offcanvas-menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 600px;
                margin: auto 200px;
                padding-left: 0;
                height: 100%;

                .menu-item {
                    position: relative;
                    visibility: hidden;
                    opacity: 0;
                    padding: 0;
                    list-style: none;
                    width: 100%;
                    display: inline-block;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -ms-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;

                    a {
                        display: inline-block;
                        font-size: 2.25rem;
                        font-weight: 600;
                        color: #fff;
                        padding: .9275rem 0;
                        text-transform: uppercase;
                        transition: all .3s ease-out;
                        -webkit-transition: all .3s ease-out;
                        -moz-transition: all .3s ease-out;
                        -ms-transition: all .3s ease-out;
                        -o-transition: all .3s ease-out;

                        &:focus {
                            color: #fff;
                            outline: none;
                        }
                    }

                    .sub-menu {
                        display: none;
                        padding-left: 0;

                        li {
                            margin: 0;

                            &:last-child {
                                margin-right: 0;
                            }

                            a {
                                display: block;
                                color: #eaeaea;
                                padding: .625rem 0;
                                font-size: 1.124rem;
                                font-weight: 400;
                                text-transform: unset;

                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    } 
                }
            }

            .text-center .offcanvas-menu {
                margin: auto;
                text-align: left;
            }
        }

        
       

        .close-btn {
            cursor: pointer;
            position: absolute;
            top: 2.5rem;
            right: 10rem;
            font-size: 1.5rem;
            font-weight: 500;
            color: #fff;
            padding: 0.625rem;
            z-index: 50;
        }
    }

    .offcanvas-menu-wrap .offcanvas-content .offcanvas-menu .mega-menu-col-2 .sub-menu .menu-item {
        width: 50%;
        float: left;
        display: inline-flex;
    }

    &.open .offcanvas-menu-wrap .offcanvas-content .offcanvas-menu .menu-item {
        transform: translateX(0);
        visibility: visible;
        display: inline-block;
        opacity: 1;
    
        &:nth-child(1n) {
            transition-delay: 0.5s;
        }
    
        &:nth-child(2n) {
            transition-delay: 0.6s;
        }
    
        &:nth-child(3n) {
            transition-delay: 0.7s;
        }
    
        &:nth-child(4n) {
            transition-delay: 0.8s;
        }
    
        &:nth-child(5n) {
            transition-delay: 0.9s;
        }
    
        &:nth-child(6n) {
            transition-delay: 1s;
        }
    
        &:nth-child(7n) {
            transition-delay: 1.1s;
        }
    
        &:nth-child(8n) {
            transition-delay: 1.2s;
        }
    
        &:nth-child(9n) {
            transition-delay: 1.3s;
        }
    }

    .hero {
        height: 100vh;

        .banner-owl {

            .item {

                img {
                    width: 100vw;
                    height: 100vh;
                    object-fit: cover;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    transition: all 1500ms ease-in-out;
                    -webkit-transition: all 1500ms ease-in-out;
                    -moz-transition: all 1500ms ease-in-out;
                    -ms-transition: all 1500ms ease-in-out;
                    -o-transition: all 1500ms ease-in-out;
                }
            }

            .owl-nav {
                position: absolute;
                right: 20%;
                bottom: 20%;
                text-align: right;
    
                .owl-prev,
                .owl-next {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 50px;
                    height: 50px;
                    background: #fff;
                    margin: 0;
                    padding: 0;
                    font-size: 30px;
                    text-align: center;
                    opacity: .2;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    transition: all 500ms ease;
                    -webkit-transition: all 500ms ease;
                    -moz-transition: all 500ms ease;
                    -ms-transition: all 500ms ease;
                    -o-transition: all 500ms ease;

                    span {
                        color: #000;
                    }
    
                    &:hover {
                        opacity: 1;
                        color: #222429;
                    }
                }
                .owl-next {
                    top: auto;
                    bottom: 0;
                    margin-bottom: 10px;
                }
            }

            .owl-item {

                &.active {

                    .item {

                        img {
                            transform: scale(1.12);
                            -webkit-transform: scale(1.12);
                            -moz-transform: scale(1.12);
                            -ms-transform: scale(1.12);
                            -o-transform: scale(1.12);
                        }
                    }

                    .heading {
                        
                        h5 {
                            opacity: 1;
                        transform: translate(0);
                        -webkit-transform: translate(0);
                        -moz-transform: translate(0);
                        -ms-transform: translate(0);
                        -o-transform: translate(0);
                        transition: all 700ms ease;
                        -webkit-transition: all 700ms ease;
                        -moz-transition: all 700ms ease;
                        -ms-transition: all 700ms ease;
                        -o-transition: all 700ms ease;
                        transition-delay: 800ms;
                        }
                    }

                    .title {
                        
                        h1 {
                            opacity: 1;
                        transform: translate(0);
                        -webkit-transform: translate(0);
                        -moz-transform: translate(0);
                        -ms-transform: translate(0);
                        -o-transform: translate(0);
                        transition: all 1000ms ease;
                        -webkit-transition: all 1000ms ease;
                        -moz-transition: all 1000ms ease;
                        -ms-transition: all 1000ms ease;
                        -o-transition: all 1000ms ease;
                        transition-delay: 1300ms;
                        }
                    }

                    .banner-btn {
                        
                        .btn-line {
                            opacity: 1;
                        transform: translate(0);
                        -webkit-transform: translate(0);
                        -moz-transform: translate(0);
                        -ms-transform: translate(0);
                        -o-transform: translate(0);
                        transition: all 700ms ease;
                        -webkit-transition: all 700ms ease;
                        -moz-transition: all 700ms ease;
                        -ms-transition: all 700ms ease;
                        -o-transition: all 700ms ease;
                        transition-delay: 1800ms;
                        }
                    }
                }
            }
        }
    }

}


div#header-widget.open>.offcanvas-mask {
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0);
	z-index: 150;
	transition: all 0.3s ease-in-out;
}



/*about section*/

.about {
    margin-top: 7rem;
    
    position: relative;

    .about-heading {
        margin-bottom: 70px;

        h2 {
            font-size: 2.28rem;
            color: #111;
            text-transform: capitalize;
            font-weight: 700;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 99%;
                height: 1px;
                background: #dcdcdc;
                top: 50%;
                padding: 0 20px;
                margin-left: 28px;
            }
            &::before {
                content: "";
                position: absolute;
                width: 10%;
                height: 1px;
                background: #dcdcdc;
                top: 50%;
                left: -12%;
            }
        }
    }

    .about-title {
        margin-top: 150px;

        h3 {
            font-size: 1.6rem;
            line-height: 1.4;
            color: #111;
            font-weight: 600;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: capitalize;
        }
    }
    .about-des {
        margin-top: 15px;

        p {
            color: #7c7c7c;
            font-size: 1rem;
            font-weight: 400;
            font-family: sans-serif;
            margin-right: 20px;
        }
    }
    .about-btn {
        margin-top: 5rem;

        .btn-line {
            font-size: 1rem;
            font-weight: 600;
            color: #000;
            padding: 0.3125rem 0.3125rem 0.25rem 1.875rem;
            text-transform: uppercase;
            position: relative;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transform: translateY(50px);
            -webkit-transform: translateY(50px);
            -moz-transform: translateY(50px);
            -ms-transform: translateY(50px);
            -o-transform: translateY(50px);
            cursor: pointer;
            z-index: 1000;

            &::before {
                content: "";
                position: absolute;
                height: 0.125rem;
                width: 1rem;
                background: #000;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -ms-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                cursor: pointer;
            }
        }

        &:hover {

            .btn-line {
                letter-spacing: 2.5px;
                color: #222429;

                &::before {
                    width:  1.5rem;
                    background: #222429;
                }
            } 
        }
    }

    .about-img {
        margin-left: 50px;
        position: relative;
        z-index: 1000000;

        img {
            -webkit-box-shadow: 1px 1px 36px -3px rgba(0,0,0,0.59); 
            box-shadow: 1px 1px 36px -3px rgba(0,0,0,0.59);
        }

        .top-img {
            display: flex;
            gap: 30px;
            
        }

        .bottom-img {
            text-align: center;
            margin-top: -11.5rem;
        }
    }

    #particles-js {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding-top: 30px;
        padding-right: 70px;
        
    }
}

/*service section*/
.service {
    margin-top: 50px;

    .service-heading {
        margin-bottom: 100px;

        h2 {
            font-size: 2.28rem;
            color: #111;
            text-transform: capitalize;
            font-weight: 700;
            text-align: right;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 12%;
                height: 1px;
                background: #dcdcdc;
                top: 50%;
                padding: 0 20px;
                margin-left: 20px;
            }
            &::before {
                content: "";
                position: absolute;
                width: 99%;
                height: 1px;
                background: #dcdcdc;
                top: 50%;
                left: -17%;
            }
        }
    }

    .service-bg {
        background: url(../img/portfolio-bg.jpg) fixed no-repeat;
        height: 800px;
        object-fit: cover;
        background-size: cover;
        background-position: center center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: #000;
            opacity: .3;
        }

        .portfolio {
            background: url(../img/shape.png);
             background-repeat: no-repeat;
             background-position: center;
             min-height: 36.875rem;
             display: flex;
             align-items: center;
             position: relative;
             margin-top: 150px;
             z-index: 1;
            .swiper-slide {
                text-align: center;
                text-align: left;
                padding: 0 100px;
                
                h4{
                    color: #222429;
                    text-transform: capitalize;
                    font-size: 30px;
                    font-weight: 600;
                    
                }
                p  {
                    color: #222429;
                    font-size: 1rem;
                    font-family: sans-serif;
                    font-weight: 500;
                    margin-top: 20px;
                }
                a {
                    margin-top: 20px;
                    
                    span {
                        color: #222429;
                        position: relative;
                        margin-left: 30px;
                        text-transform: capitalize;

                        &::before {
                            content: "";
                            position: absolute;
                            left: -25px;
                            top: 40%;
                            background: #222429;
                            width: 1rem;
                            height: 2px;
                        }
                    }
                }
            }
            .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
                bottom: 100px;
            }

            .swiper-pagination-bullet {
                background: #000;
            }
            .swiper-pagination-bullet-active {
                background: red;
            }

        }

        
        .service-btn {
            margin-left: 150px;
            margin-top: -20px;
            position: relative;
            z-index: 1;

            .btn-line {
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
                position: relative;
                transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -ms-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;

                &::before {
                    content: "";
                    position: absolute;
                    height: 0.125rem;
                    width: 1rem;
                    background: #fff;
                    left: -30px;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -ms-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    cursor: pointer;
                }
            }

            &:hover {
                .btn-line {
                    letter-spacing: 2px;

                    &::before {
                        width: 1.6rem;
                    }
                }
            }
        }
    }
}

/*feature gallery*/

.gallery {

    .gallery-heading {
        margin-top: 150px;

        h2 {
            font-size: 2.28rem;
            color: #111;
            text-transform: capitalize;
            font-weight: 700;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 86%;
                height: 1px;
                background: #dcdcdc;
                top: 50%;
                padding: 0 20px;
                margin-left: 32px;
            }
            &::before {
                content: "";
                position: absolute;
                width: 10%;
                height: 1px;
                background: #dcdcdc;
                top: 50%;
                left: -12%;
            }
        }
    }

    .gallery-item {
        display: inline-block;
        margin-right: 16px;
        margin-bottom: 16px;
        text-align: center;
        vertical-align: top;
        width: 100%;

        &:last-of-type {
            padding-right: 0;
        }
    }


    .masonary-gallery-box {
        margin: 0;
        margin-bottom: 3.125rem;

        .img-item {
            margin-bottom: 1.5rem;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.2);
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
            }

            .img-icon {
                background-color: #fff;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                position: absolute;
                top: 20px;
                right: 20px;
                display: inline-block;
                cursor: pointer;

                .fa-play {
                    color: #000;
                    padding:13px 16px;
                }
                .fa-images {
                    color: #000;
                    padding:13.5px 14px;
                }
            }

            &:hover {

                &::before {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        .item-content {
            text-align: center;

            .item-title {
                margin-top: 30px;
                margin-bottom: 10px;
                font-size: 1.375rem;
                font-weight: 600;

                a {
                    color: #343434;
                }
            }

            .item-subtitle {
                
                a {
                    font-size: 1rem;
                    color: #888888;
                    letter-spacing: 0.125rem;
                }
            }
        }
    }

    .zoom-gallery {
        margin-top: 100px;

        .item-no-04 {
            margin-top: -220px;
        }

        .item-no-06 {
            margin-top: -70px;
        }
    }

    .gallery-btn {
       text-align: center;
       margin-top: 30px;
       margin-bottom: 70px;

        .line-btn {
            color: #000;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            display:inline-block;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
    
    
            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 1.5rem;
                background: #000;
                left: -30px;
                top: 40%;
                transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
            }

            &:hover {
                letter-spacing: 1.5px;
            }
    
        }

    }
    
}
/*testimonial section*/

.testimonial {
    margin-bottom: 150px;

    .testimonial-heading {
        margin-top: 30px;
        margin-bottom: 70px;

        h2 {
            font-size: 2.28rem;
            color: #111;
            text-transform: capitalize;
            font-weight: 700;
            text-align: right;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 12%;
                height: 1px;
                background: #dcdcdc;
                top: 50%;
                padding: 0 20px;
                margin-left: 20px;
            }
            &::before {
                content: "";
                position: absolute;
                width: 94%;
                height: 1px;
                background: #dcdcdc;
                top: 50%;
                left: -12%;
            }
        }
    }

    .title-quote {
        margin-top: 100px;
        
        .fa-quote-right {
            color: #d8d8d8;
            font-size: 4rem;
        }
    }
    .title {

        h3 {
            color: #000;
            font-size: 2rem;
            text-transform: capitalize;
            margin-top: 40px;
        }
    }

    .textimonial-slider-box {
        background: #f9f9f9;
        padding: 2.8125rem 2.8375rem;

        .swiper-slide {
            background: #fff;

            .testimonial-top {
                display: flex;
                padding: 40px 10px 30px 30px;

                .testimonial-img {

                    img {
                        width: 60px;
                    }
                }

                .testimonial-title {
                    margin-left: 20px;
                    
                    h4 {
                        color: #000;
                        text-transform: capitalize;
                    }
                    span {
                        color: #000;
                    }
                }
            }

            .testimonial-bottom {
                p {
                    color: #222429;
                    padding: 0 30px;
                }
            }
        }
    }
}
/*conatct section*/
.contact {
    background: url(../img/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .contact-form {
        background: #fff;
        margin: 150px 0;
        padding: 100px 50px;

        .contact-title {
            text-align: center;

            h3 {
                font-size: 2rem;
                color: #111;
                text-transform: capitalize;
                margin-bottom: 30px;

            }
        }

        label {
            color: #343434;
            text-transform: capitalize;

        }

        .form-control {
            background: #f5f5f5;
            border: none;
            color: #111111;
            padding: 0.625rem 1.25rem;

            &:focus {
                box-shadow: none;
            }
        }
        .form-floating {

            label {
                color: #343434;
            }
        }

        .line-btn {
            background: #343434;
            color: #fff;
            padding: 12px 30px;
            font-size: 1rem;
            line-height: 32px;
            text-transform: uppercase;
            transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;

            &:hover {
                background: #222429;
            }
        }
    }
}

/*blog section*/

.blog {
    margin: 150px 0;

    .blog-heading {

        h2 {
            font-size: 2.28rem;
            color: #111;
            text-transform: capitalize;
            font-weight: 700;
            position: relative;
            margin-bottom: 70px;
    
            &::after {
                content: "";
                position: absolute;
                width: 98%;
                height: 1px;
                background: #dcdcdc;
                top: 50%;
                padding: 0 20px;
                margin-left: 32px;
            }
            &::before {
                content: "";
                position: absolute;
                width: 10%;
                height: 1px;
                background: #dcdcdc;
                top: 50%;
                left: -12%;
            }
        }
    }

    .blog-thumb {

        .card-thumb {
            overflow-x: hidden;

            img {

                transition: all 0.7s ease-in-out;
                -webkit-transition: all 0.7s ease-in-out;
                -moz-transition: all 0.7s ease-in-out;
                -ms-transition: all 0.7s ease-in-out;
                -o-transition: all 0.7s ease-in-out;
            }

            a {
                color: #888888;
                margin-top: 25px;
                margin-bottom: 10px;

                &:hover {
                    color: #222429;
                }
            }
            h4 {
                color: #111111;
                font-size: 1.7rem;
            }

            .date {
                margin-top: 10px;
                color: #7c7c7c;
                font-size: .9rem;

                span {
                    color: #7c7c7c;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -ms-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                }

                &:hover {
                     span {
                        color: #343434;
                     }
                }

            }
        }

        &:hover {

            .card {

                img {
                    transform:  scale(1.1);
                    -webkit-transform:  scale(1.1);
                    -moz-transform:  scale(1.1);
                    -ms-transform:  scale(1.1);
                    -o-transform:  scale(1.1);
                }
            }
        }
    }

    .card-right {

        a {
            color: #888888;
            font-size: .9rem;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;

            &:hover {
                color: #111111;
            }
        }

        h3 {
            color: #333;
            margin: 5px 0;
            text-transform: capitalize;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;

            &:hover {
                color: #000;
            }
        }
        .date {
            margin-top: 10px;
            color: #7c7c7c;
            font-size: .9rem;

            span {
                color: #7c7c7c;
                cursor: pointer;
                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -ms-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
            }

            &:hover {
                 span {
                    color: #343434;
                 }
            }

        }
    }
}

/*company-logo section*/

.company-logo {
    background: #111;

    .logo-slider {
        margin: 70px 0;

        .logo-slider-thumb {

            img {
                height: 100px;
            }
        }
    }
}

/*footer section*/
.footer-section {
    background: #000;
    background-image: url(../img/map.png);
    background-size: cover;
    background-repeat: no-repeat;

    .footer-content-box {
        margin-top: 100px;
        margin-bottom: 70px;

        .footer-logo {
                
            a {
                img {
                    height: 40px;
                }
            }
        }
        .footer-contact {
            margin-top: 20px;

            .item-email {
                margin: 10px 0;

                span {
                    font-size: 1.5rem;
                    color: #dcdcdc;
                    text-transform: capitalize;
                }

                a {
                    font-size: 1.5rem;
                    color: #dcdcdc;
                    margin-left: 3px;
                    transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -ms-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;

                    &:hover {
                        color: #fff;
                    }
                }
            }

            .item-number {

                i {
                    color: #dcdcdc;
                    font-size: 1.5rem;
                }

                a {
                    color: #dcdcdc;
                    font-size: 1.5rem;
                    transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -ms-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    .link-box {

        h4 {
            color: #fff;
            text-transform: capitalize;
        }

        .menu-quick-links-container {
            margin: 20px 0;

            .menu-quick-links {
                padding: 0;
                margin: 0;

                .link-menu-item {
                    margin: 5px 0;
                    
                    a {
                        color: #dcdcdc;
                        font-size: 1rem;
                        text-transform: capitalize;
                        transition: all .2s ease-in-out;
                        -webkit-transition: all .2s ease-in-out;
                        -moz-transition: all .2s ease-in-out;
                        -ms-transition: all .2s ease-in-out;
                        -o-transition: all .2s ease-in-out;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .newsletter {

        .footer-title {
            color: #fff;
            text-transform: capitalize;
        }
        .footer-des {
            margin: 15px 50px 15px 0;
            color: #dcdcdc;
        }

        .mail {
            .form-control {
                border: none;
                padding: 1rem 1rem;
                width: 82%;
                font-family: sans-serif;
                color: #dcdcdc;
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .line-btn {
            color: #dcdcdc;
            font-size: 1rem;
            text-transform: uppercase;
            background-color: #222429;
            padding: 1rem 2.5rem;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;

            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }

    .footer-bottom {
        padding-bottom: 40px;

        .footer-copyright {
            color: #acabab;
            font-size: 1rem;

            a {
                color: #dcdcdc;
                text-transform: capitalize;
                font-size: 1rem;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -ms-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;

                &:hover {
                    color: #fff;
                }
            }
        }

        .footer-social {
            
            .item-social {
                margin: 0;
                text-align: right;

                li {
                    display: inline-block;
                    margin-right: .937rem;

                    a {
                        display: inline-block;

                        i {
                            font-size: .9375rem;
                            padding: .3125rem;
                            color: #a1a1a1;
                            transition: all .2s ease-in-out;
                            -webkit-transition: all .2s ease-in-out;
                            -moz-transition: all .2s ease-in-out;
                            -ms-transition: all .2s ease-in-out;
                            -o-transition: all .2s ease-in-out;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.follower-wrapper .pointer {
    position: fixed;
    z-index: 1000000;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: -5px 0 0 -5px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 80%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    pointer-events: none;
    backface-visibility: hidden;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    transition: background 0.5s cubic-bezier(0.36, 0.03, 0, 0.91);
  }
  
  .follower-wrapper .follower {
    position: fixed;
    z-index: 1000001;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: -5px 0 0 -5px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 80%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    pointer-events: none;
    backface-visibility: hidden;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    transition: all 0.5s cubic-bezier(0.36, 0.03, 0, 0.91);
    transition-property: border, -webkit-transform;
    transition-property: transform, border;
    transition-property: transform, border, -webkit-transform;
  }
  
  .follower-wrapper .follower.big {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }

//   media quries

  @media (max-width:991px) {
    .header-widget {

        .banner-content {

            .heading {
                
                h5 {
                    font-size: 28px;
                    line-height: 40px;
                }
            }
            .title {

                h1 {
                    font-size: 60px;
                    line-height: 80px;
                }
            }
        }
    }
}

@media (max-width:768px) {
    
    .header-widget {
       
        .logo-section {

            .logo {
                margin-left: 20px;
            }

            .all-work-btn {
                display: none;
            }
        }

        .offcanvas-menu-wrap {

            .close-btn {
                top: 2rem;
                left: 1rem;
            }
            .offcanvas-content {

                .offcanvas-menu {
                    margin: 0 auto;

                    .menu-item {
                        
                        
                        a {
                            font-size: .9rem;
                        }

                        .sub-menu {

                            li {

                                a {
                                    font-size: .8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        

        .banner-content {
            top: 50%;
    
            .heading {
    
                h5 {
                    font-size: 14px;
                    line-height: 30px;
                }
            }
            .title {

                h1 {
                    font-size: 28px;
                    line-height: 50px;
                }
            }

            .banner-btn {

                .btn-line {
                    font-size: 14px;
                }
            }
        }

        .main-sidebar {
            width: 90px;

            .sidebar-content {
                border-left: none;
                padding: .75rem 0 5.625rem;

                .toggle-btn {
                    margin-left: 10px;
                    margin-top: 20px;

                    .btn-wrap {
                        width: 1.5rem;

                        span {
                            width: 1rem;

                            &:nth-child(1n) {
                                margin-left: 0.15rem;
                            }
                            &:nth-child(2n) {
                                margin-left: 0;
                            }
                            &:nth-child(3n) {
                                margin-left: 0.25rem;
                            }
                            &:nth-child(4n) {
                                margin-left: 0.15rem;
                            }
                        }
                    }
                }
                .section-name {
                    display: none;
                }
            }

            &:hover {
                .sidebar-content {
                    background: transparent;
                }

                .toggle-btn {
                   opacity: 0;
                }
            }
        }

        .hero {

            .banner-owl {

                .owl-nav {
                    display: none;
                }
            }
        }
    }

    .about {
        margin-top: 3rem;

        .about-heading {
            margin-bottom: 0;

            h2 {
                font-size: 2rem;

                &::before {
                    display: none;
                }
                &::after {
                    display: none;
                }
            }
        }

        .about-title {
            margin-top: 25px;

            h3 {
                font-size: 1.3rem;
            }
        }

        .about-des {
            
            p {
                font-size: .8rem;
            }
        }
        .about-btn {
            margin-top: 2rem;
            margin-bottom: 2rem;

            .btn-line {
                padding: 0;
            }
        }

        .about-img {
            margin-left: 0;

            img {
                margin: 10px 0;
            }

            .top-img {
                display: block;
            }

            .bottom-img {
                margin-top: 0;
            }
        }
    }

    .service {

        .service-heading {
            margin-bottom: 50px;

            h2 {
                font-size: 2rem;
            }
        }

        .service-bg {
            height: 600px;

            .portfolio {
                margin-top: 30px;

                .swiper-slide {

                    h4 {
                        font-size: 20px;
                    }

                    p {
                        font-size: .8rem;
                    }
                }
                .swiper-pagination {
                    display: none;
                }
            }
        }
    }

    .gallery {
        margin-top: 50px;

        .gallery-heading {

            h2 {
                font-size: 2rem;
            }
        }

        .zoom-gallery {
            margin-top: 50px;

            .item-no-04,
            .item-no-06 {
                margin-top: 0;
            }
        }
        .gallery-btn {
            margin-top: 0;
            margin-bottom: 40px;
        }
    }

    .testimonial {
        margin-bottom: 100px;

        .title-quote {
            margin-top: 0;
        }

        .title {
            margin-bottom: 30px;
        }

        .textimonial-slider-box {
            padding: 1.8125rem 1.8375rem;
        }
    }

    .blog {
        margin: 50px 0;

        .blog-thumb {
            margin-bottom: 20px;
        }
    }

    .company-logo {

        .swiper-wrapper {

            .swiper-slide-active {

                .logo-slider-thumb {
                    text-align: center;
                }
            }
        }
    }

    .footer-section {

        .footer-content-box {
            margin-top: 50px;
            margin-bottom: 0;

            .footer-contact {

                .item-email {
                    span {
                        font-size: 1rem;
                    }
                    a {
                        font-size: 1rem;
                    }
                }

                .item-number {
                    font-size: 1rem;

                    i {
                        font-size: 1rem;
                    }
                    a {
                        font-size: 1rem;
                    }
                }
            }
        }

        .newsletter {

            .mail {

                .form-control {
                    width: 100%;
                }
            }

            .line-btn {
                width: 100%;
                text-align: center;
            }
        }

        .footer-bottom {
            margin-top: 30px;
            padding-bottom: 30px;
        }
    }
}
